<%= stylesheet_link_tag 'nivo-slider/themes/default/default.css' %>
<%= stylesheet_link_tag 'nivo-slider/nivo-slider.css' %>

<div id="wrapper">
  <div class="slider-wrapper theme-default">
    <div id="slider" class="NivoSlider">
      <img src="http://cs14102.userapi.com/c7005/v7005067/502/sNEBavZ8DJc.jpg" alt="" />
      <img src="http://cs14102.userapi.com/c7005/v7005067/4c8/Lq9j57rRIbI.jpg" alt="" />
      <img src="http://cs14102.userapi.com/c7005/v7005067/4c0/wL0BEtEEggM.jpg" alt="" />
      <img src="http://cs14102.userapi.com/c7005/v7005067/398/1-XtmYIS02c.jpg" alt="" />
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
    $('#slider').nivoSlider();
  });
</script>
