</div>
</header>
<div class="columns clearfix">
  <div class='nine columns'>
<!-- Breadcrumb -->
    <div class="breadcrumb bgcolor bordercolor">
      <div class="breadcrumb_inner">
        <a href="/" title="return to Home">Home</a>
        <span class="navigation-pipe" >&gt;</span>
        <a href="/myaccount/overview" title="return to My account">My account</a>
        <span class="navigation-pipe" >&gt;</span>
        <span class="navigation_page">Orders</span>
      </div>
    </div><br />
<!-- /Breadcrumb -->
    <h4>Orders</h4>

    <% unless @orders.length > 0 %>
      You currently do not have any orders.
    <% end %>

    <% @orders.each do |order| %>
      <div class='order-list-item ten'>
        <ul>
          <li>
            <label>Number:</label>
            <%= link_to order.number, myaccount_order_path(order) %>
          </li>
          <li>
            <label>Amount:</label>
            <%= order.credited_total %>
          </li>
          <li>
            <label>Status:</label>
            <%= order.state %>
          </li>
          <li>
            <label>Completed at:</label>
            <%= order.display_completed_at %>
          </li>
        </ul>
      </div>
      <hr/>
    <% end %>
  </div><br />
</div>
