</div>
</header>
<div class="columns clearfix">
<!-- Breadcrumb -->
  <div class="breadcrumb bgcolor bordercolor">
    <div class="breadcrumb_inner">
      <a href="/" title="return to Home">Home</a>
      <span class="navigation-pipe" >&gt;</span>
      <a href="/login" title="return to Home">Login</a>
      <span class="navigation-pipe" >&gt;</span>
      <span class="navigation_page">Password reset</span>
    </div>
  </div><br />
<!-- /Breadcrumb -->
  <h1>Password Instructions have been Sent</h1>

  <p>Instructions to reset your password has been sent to your email address.</p>
</div>