</div>
</header>
<div class="columns clearfix">
<!-- Breadcrumb -->
  <div class="breadcrumb bgcolor bordercolor">
    <div class="breadcrumb_inner">
      <a href="/" title="return to Home">Home</a>
      <span class="navigation-pipe" >&gt;</span>
      <a href="/login" title="return to Home">Login</a>
      <span class="navigation-pipe" >&gt;</span>
      <span class="navigation_page">Password reset</span>
    </div>
  </div><br />
<!-- /Breadcrumb -->
  <% content_for :head do -%>
    <%= stylesheet_link_tag 'signup.css' %>
  <% end %>
  <div style='margin-bottom:20px;'>
    <h1> Password Reset </h1>

    <%= form_for(@user, :url => customer_password_reset_path(:id => @user.perishable_token)) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
  </div>