</div>
</header>
<div class="columns clearfix">
  <div class='nine columns'>
    <h4> <%= current_user.name %> Store Credits </h4>

    <p id='users-credits' class=''>
        You currently have <%= number_to_currency @store_credit.amount %> worth of credits.
    </p>
  </div>
</div>