</div>
</header>
<div class="columns clearfix">
  <div class='nine columns'>
<!-- Breadcrumb -->
    <div class="breadcrumb bgcolor bordercolor">
      <div class="breadcrumb_inner">
        <a href="/" title="return to Home">Home</a>
        <span class="navigation-pipe" >&gt;</span>
        <a href="/myaccount/overview" title="return to My account">My account</a>
        <span class="navigation-pipe" >&gt;</span>
        <span class="navigation_page">Store Credits</span>
      </div>
    </div><br />
<!-- /Breadcrumb -->
    <h4> <%= current_user.name %> Store Credits </h4>

    <p id='users-credits' class=''>
        You currently have <%= number_to_currency @store_credit.amount %> worth of credits.
    </p>
  </div>
</div>